<script
  type='text/javascript'
  src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'
>
</script>
<div class='tableauPlaceholder' style='width: 1350px; height: 682px;'>
  <object class='tableauViz' width='1350' height='682' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
    <param name='site_root' value='&#47;t&#47;{{ site_root }}' />
    <param name='name' value='{{ workbook_name  }}&#47;{{ view_name  }}' />
    <param name='tabs' value='yes' />
    <param name='toolbar' value='yes' />
    <param name='showShareOptions' value='true' />
  </object>
</div>
